*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0101DF;
}

#content{
    width: 80%;
    margin: 0 auto;
}

#barra_navegacao{
    margin-top: 10px;

    display: flex;
    justify-content: space-around;
    height: 60px;
    font-size: 20px;
}

#barra_navegacao a{
   text-decoration: none;
   font-size: 20px;
}

#icone-pagina-inicial{
    font-size: 50px;
    margin-top: 4px;
    color: #FFF;
}

#links{
    display: flex;
}

#links li{
    margin: 20px;
    list-style: none;
}
#links li a{
    color: #FFF;
   text-decoration: none;
   transition: 1.2s;
   
}

#links li a:hover{
    border-radius: 50px;
    color: #FFBF00;
    font-size: 30px; 
}



/*BODY*/
#pagina-apresentacao{
    font-size: 17px;    
    background-color: black;
    margin-top: 20px;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-radius: 60px;
}

#img-pessoal{
    height: 250px;
    border-radius: 100%;
    margin: 5px 0;
}

.texto-pessoal{
    margin: 50px;
    width: 400px;
    text-align: justify;
    transition: 1.2s;
}

.texto-pessoal:hover{
    color: #FFBF00;
}

#title-profile{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}


/*SKILLS*/
#skills{
    background-color: black;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    border-radius: 60px;
    height: 160px;
}

#skills h1{
    font-size: 40px;
}

div.icones-skills {
    list-style: none;

    display: flex;
}

.icones-skills span{
    color: #FFF;
    margin: 15px;
    font-size: 45px;
    transition: 1.2s;
}

.icones-skills span:hover{
    color: #FFBF00;
}

.icones-skills span p{
    color: #FFF;
    font-size: 13px;
}



/*CONTACT*/





#contatos{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    background-color: black;
    border-radius: 60px;
    height: 140px;
}

#contatos h1{
    font-size: 40px;
    margin-bottom: 15px;
}

div.icones-redes_Sociais{
    list-style: none;
    display: flex;
}

.icones-redes_Sociais span a{
    color: #FFF;
    margin: 15px;
    font-size: 35px;
    transition: 1.2s;
}

.icones-redes_Sociais span a:hover{
    color: #FFBF00;
}

.icones-skills span p{
    color: #FFF;
    font-size: 13px;
}



